html, body {
	height: 100%;
	margin: 0;
	user-select: none;
	background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    scrollbar-width: none;
    background-color: aliceblue;
}

@font-face {
	font-family: "Ferionapi";
	src: url('fonts/Feroniapi-MediumItalic.otf') format('opentype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "Velvetyne";
	src: url('fonts/Velvelyne-Book.otf') format('opentype');
	font-weight: normal;
  font-style: normal;
}

h1 {
	margin-top: 0;
}

h2 {
	font-family: "Ferionapi";
	margin: 0 0 0.05em 0;
	font-weight: unset;
}

p {
	font-family: "Velvetyne";
	margin-top: 0;
}

button {
	display: block;
	margin-bottom: 10px;
}

img {
	/*margin: 0;*/
}

#background {
	position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/000007.webp");
  background-position: center;
  background-size: cover;
}

.main-container {
	position: relative;
  top: 15%;
	width: 50%;
	height: 70%;
	margin: 0 auto;
	background-color: #FEFDF9;
	overflow-y: scroll;
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.27);
	background-image: url("img/servilleta.jpg");
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

#header p {
	text-align: end;
	margin-bottom: 0;
	width: 20%;
	margin-right: 0.175em;
	margin-left: auto;
}

#main-text {
	padding: 1em;
	padding-right: 8em;
	box-sizing: border-box;
}

/*#bg-img {
	position: absolute;
	width: 100%;
}*/

#logo {
	width: 50%;
}

/* ==================================== MOBILE ====================================== */
/* =================================== PORTRAIT ===================================== */

@media (max-width: 700px) {

	.main-container {
		top: 7.5%;
		width: 85%;
		height: 85%;
	}

	#logo {
		width: 65%;
	}

	#header p {
		width: 60%;
	}

	#main-text {
		padding-right: 1em;
	} 
}

@media (max-width: 700px) and (orientation: landscape) {
	#logo {
		width: 50%;
	}
}