html, body {
	height: 100%;
	margin: 0;
	user-select: none;
	background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    scrollbar-width: none;
    background-color: aliceblue;
}

h1 {
	margin-top: 0;
}

h2 {
	margin: 0 0 0.05em 0;
}

p {
	margin-top: 0;
}

button {
	display: block;
	margin-bottom: 10px;
}

img {
	/*margin: 0;*/
}

.main-container {
	position: relative;
  	top: 15%;
	width: 50%;
	height: 70%;
	margin: 0 auto;
	background-color: #FEFDF9;
	overflow-y: scroll;
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.27);
	background-image: url("img/servilleta.jpg");
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

#header p {
	text-align: end;
	margin-bottom: 0;
	width: 20%;
	margin-right: 0.175em;
}

#main-text {
	padding: 1em;
	padding-right: 8em;
	box-sizing: border-box;
}

#bg-img {
	position: absolute;
	width: 100%;
}

#logo {
	width: 15%;
}