html, body {
	margin: 0;
	user-select: none;
	background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    scrollbar-width: none;
    background-color: aliceblue;
}

h1 {
	margin-top: 0;
}

h2 {
	margin-bottom: 0;
}

p {
	margin-top: 0;
}

button {
	display: block;
	margin-bottom: 10px;
}

.main-container {
	width: 50%;
	margin: 0 auto;
	background-color: wheat;
	padding: 1em;
	padding-right: 10em;
	box-sizing: border-box;
}