html, body {
	height: 100%;
	margin: 0;
	user-select: none;
	background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    scrollbar-width: none;
    background-color: aliceblue;
}

@font-face {
	font-family: "Ferionapi";
	src: url('fonts/Feroniapi-MediumItalic.otf') format('opentype');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "Velvetyne";
	src: url('fonts/Velvelyne-Book.otf') format('opentype');
	font-weight: normal;
  font-style: normal;
}

h1 {
	margin-top: 0;
}

h2 {
	font-family: "Ferionapi";
	margin: 0 0 0.05em 0;
	font-weight: unset;
	-webkit-text-stroke: 1px;
	letter-spacing: -0.01rem;
}

p {
	font-family: "Velvetyne";
	margin-top: 0;
	letter-spacing: -0.005rem;
	line-height: 1.25em;
}

button {
	/*display: block;*/
	/*margin-bottom: 10px;*/
	font-family: "Ferionapi";
  background-color: transparent;
  border: solid 1.5px black;
  border-radius: 2px;
  font-size: 1.3em;
  padding-inline: 0.5em;
  padding-top: 0.2em;
}

button:hover {
	color: #FEFDF9;
	background-color: black;
	cursor: pointer;
}

img {
	/*margin: 0;*/
}

form {
	margin-left: .5em;
	font-family: "Ferionapi";
	font-size: 1.35em;
	display: flex;
	flex-direction: row;
	gap: .25em;
	letter-spacing: -0.01rem;
}

input[type="radio"]:checked + label {
  text-decoration: underline;
  text-decoration-thickness: 0.075em;
  text-underline-offset: 0.2em;
}

input {
	display: none;
}

#background {
	position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/000007.webp");
  background-position: center;
  background-size: cover;
}

.main-container {
	position: relative;
  top: 15%;
	width: 50%;
	height: 70%;
	margin: 0 auto;
	padding: 1.5em;
  box-sizing: border-box;
	background-color: #FEFDF9;
	overflow-y: scroll;
	border-radius: 2px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.27);
	background-image: url("img/servilleta.jpg");
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#buttons-container {
	display: flex;
	margin-left: auto;
	gap: .5em;
	margin-top: -.3em;
}

#header p {
	text-align: end;
	margin-bottom: 0;
	width: 20%;
	margin-right: 0.175em;
	margin-left: 1em;
}

#main-text {
	padding-right: 8em;
}

/*#bg-img {
	position: absolute;
	width: 100%;
}*/

#logo {
	width: 100px;
}

/* ==================================== MOBILE ====================================== */
/* =================================== PORTRAIT ===================================== */

@media (max-width: 700px) {

	.main-container {
		top: 7.5%;
		width: 85%;
		height: 85%;
	}

	#logo {
		width: 65%;
	}

	#header p {
		width: 60%;
	}

	#main-text {
		padding-right: 1em;
	} 
}

@media (max-width: 700px) and (orientation: landscape) {
	#logo {
		width: 50%;
	}
}